<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}
<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
<!--            <form action="" method="POST" enctype="multipart/form-data">-->
<!--                {%csrf_token%}-->

<!--                {{form.as_p}}-->
<!--                <button type="submit" class="btn-primary">add brand</button>-->
<!--            </form>-->
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% if messages%}
{% for message in messages%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-primary">

        {{message}}
    </div>
    <div class="col-4"></div>
</div>

{% endfor%}
{%endif%}
{%endblock%}